

html {
  font-size: 100%;
}

.container {
  height: 100%;
}

.title-icons a {
  color: black;
  text-decoration: none;
}
.title-icons .label {
  display: none;
}








.copyright {
  font-size: 10px;
}


/***************************
Layout
****************************/

/* Mobile */

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left {
  grid-column: 1 / 3;
}

.title-icons td {
  padding: 7px;
  font-size: 27px;
}
#icon-table {
  margin: 0 auto;
}

.right {
  grid-column: 1 / 3;
}
/* .item-1 {
  grid-column: 1 / 4;
}
.item-2 {
  grid-row: 2 / 4;
} */

/* Normal screen */
@media only screen and (min-width: 800px){
  .container{
    grid-template-columns: 30% 70%;
  }
  .left {
    float: right;
    height: 100%;
    /* margin-left: -1px; */
    position: fixed;
    width: 30%;
  }
  .title-inner {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
    height: 290px;
    padding-left: 5%;
    padding-right: 8%;
    text-align: right;
  }

  .title-icons td {
    padding-left: 14px;
    padding-right: 0;
  }
  #icon-table {
    margin: 0 0 0 auto;
  }
  
  .right {
    grid-column: 2 / 3;
  }
}

/* Large screen */
/* @media only screen and (min-width: 1800px){
  .container{
    grid-template-columns: 1fr 1fr;
  } 
  .item-1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  } 
  .item-2 {
    grid-row: 1 / 1;
  }
} */
  
  
/************************
BASE STYLING
**************************/
.item-1 {
    background-color: #2C3043;
}
.item-2 {
    background-color: #FC6057;
}
.item-3 {
    background-color: #FDA061;
}
.item-4 {
    background-color: #01A787;
}
.item-5 {
    background-color: #1BC1A1;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
    margin: 0px;
}
